img{
    height: 300px;
    width: 200px;
}

#Fodiv{
    height: auto;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

#Fodiv>div{
    height: 300px;
    width: 200px;
}

.nemlathato{
    filter: brightness(0%); 
}
.lathato{
    filter: brightness(100%); 
}
