img{
    height: 300px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 10px 10px rgb(153, 230, 255);
}

#Fodiv{
    height: auto;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

#Fodiv>div{
    
    height: 300px;
    width: 200px;
}

.nemlathato{
    filter: brightness(20%); 
}
.lathato{
    filter: brightness(100%); 
}
/**/

#Felfed:hover {
    animation: remego-gomb infinite 0.25s;
}
.eltunt{
    display: none;
}
#timer{
    font-size: 20px;
}
#stat{
    height: 60px;
    width: 150px;
    font-size: 17px;
    margin-left: 90%;
    margin-top: 10%;
}

#parfelfed:hover {
    background-color: red;
    animation: szines infinite 0.5s;
}

body{
    background: #2A7B9B;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

button{
    margin-bottom:  5px;
    background-color: rgb(124, 124, 207);
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
#start:hover{
    background-color: rgb(124, 124, 207);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
    transform: translateY(-1px);
    /* kikéne venni a start id-t a gombból és akkor nem adja be ÉS lecserélni a "startutan"-ra*/
}
table{
    border: 2px solid black;
    border-collapse: collapse;
}
table tr td{
    border: 2px solid black;
    padding: 5px;
}

@keyframes remego-gomb {
   0%, 100% {
       transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
}

@keyframes szines {
    from {background-color: red;}
    to {background-color: rgb(106, 106, 206);}
}

.lathato{
    animation: swap 0.5s forwards;
}

@keyframes swap {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

hr{
    
}
table{
    margin: 0 auto;
    width: 50%;
    font-size: 1vw;
    font-family: sans-serif;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    background-color: #4f46e5;
    color: white;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
}